spring:
  profiles:
    active: prod
  config:
    import: classpath:key.yml
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

kakao:
  REST_API_KEY: ${KAKAO_REST_API_KEY}
  REDIRECT_URI: ${KAKAO_REDIRECT_URI}

google:
  CLIENT_ID: ${GOOGLE_CLIENT_ID}
  CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
  REDIRECT_URI: ${GOOGLE_REDIRECT_URI}

URL:
  DORM_CONN_URL : https://dorm.cnu.ac.kr/intranet/public/ajax_cafe_inwon.php?mode=inwon

DISH:
  GET:
    URL: http://www.seeandyougo.com:80
    END_POINT: /api/menu/local
  SAVE:
    URL: https://api.cnu.ac.kr
    END_POINT: /svc/offcam/pub/FoodInfo

CONN:
  GET:
    URL: http://www.seeandyougo.com:80
    END_POINT: /api/connection/local
  SAVE:
    URL: https://api.cnu.ac.kr
    END_POINT: /svc/offcam/pub/WifiAllInfo
